/*Imprting fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Playfair+Display:wght@900&display=swap');

body {
    background-color: #F1FAEE;
    color: #1D3557;
    box-sizing: border-box; /*Include padding into body size*/
    height: 100vh; /*Body takes all space available*/
    width: auto;
    margin: 0;
    padding: 25px; /*Control the thickness of outer border*/
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.page {
    box-sizing: border-box; /*Include border into div size*/
    height: 100%; /*Page div takes up all space available within outer frame (body padding)*/
    width: auto; 
    border: solid 2px #457B9D; /*Inner border settings*/
    overflow: hidden; /*Keep content within inner frame*/
}

/*NAV START*/
nav {
    width: 100%;
    height: auto;
    text-align: right; /*Control alignment of nav child divs*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*eliminate empty space next to content section*/
}

/*Applied to elements in ul in nav*/
.inline {
    display: inline-block; /*Display elements in a row*/
}

/*Applied to logo element ALENA*/
#inline { 
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
}
/*NAV END*/

/*ALINK START*/
/*Applied only to the logo element*/
.alink {
    box-sizing: border-box;
    color: #A8DADC;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.45s;
}

/*Change logo color when hovering over it*/
.alink:hover {
    color: #457B9D;
}
/*ALINK END*/

/*NLINK START*/
/*Applied to links in nav ul. Controls main display aspects.*/
.nlink {
    box-sizing: border-box;
    color: #1D3557;
    display: inline-block;
    position: relative; /*::after pseudo-element is positioned relative to its parent*/
    padding: 10px 20px;
    text-decoration: none; /*Remove default underline*/
}

/*Line under the nlink element*/
.nlink::after {
    content:''; /*Ensure the pseudo-element is displayed*/
    height: 2px;
    width: 0%; /*Line isn't visible by default*/
    background-color:#E63946;
    position: absolute; /*Allows to specify the position of pseudo-element*/
    bottom: 0; /*Place pseudo-element right under the link*/
    left: 50%; /*Shift the line to the center*/
    transition: all 0.45s; 
}

/*Line when transition triggered by hover is complete*/
.nlink:hover::after {
    width: 100%; /*Line has full width of link element*/
    left: 0; /*Line start is shifted to link element start*/
}
/*NLINK END*/

/*CLINK START*/
/*Applied to links leading to external sources (projects and social media)*/
/*clink works the same way as nlink*/
.clink {
    box-sizing: border-box;
    color: #1D3557;
    font-size: 1.25em;
    display: inline-block;
    position: relative;
    text-align: right;
    text-decoration: none;
}

.clink::after {
    content:'';
    height: 2px;
    width: 0%;
    background-color:#E63946;
    position: absolute;
    bottom: 0;
    left: 0; /*Line transition starts from the left*/
    transition: all 0.45s;
}

.clink:hover::after {
    width: 100%;
}
/*CLINK END*/

/*Applied to content container. Doesn't include nav*/
.content {
    box-sizing: border-box;
    min-height: calc(100% - 40px); /*Same size as #page div, excluding the nav height*/
    display: flex;
    flex-direction: column; /*Control the placement order of child elements*/
}

/*Applied to center the elements in the container div*/
.align-center {
    justify-content: center;
}

/*Applied to align the elements to the left in the container div*/
.align-left {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4% 8%; /*Adjust space between the content and nav and #page inner border*/
    box-sizing: border-box;
    max-height: calc(100% - 3em); /*Restrict maximum height. Without it, overflow is hidden as defined in #page*/
    overflow: scroll; /*Enables scrolling of the overflow content when it occurs*/
    padding-bottom: 3.5em; /*Adds space to the bottom of the content page so all of the content is displayed when scrolled*/
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.align-left::-webkit-scrollbar {
    display: none;
}

/*Add space to the left of wrapped content*/
.wrapper {
    margin-left: 15%;
}

/*Translate the div up. By default, child divs are vertically centered 
  relative to their position inside the .content div instead of #page div*/
/*Translation adjusts for nav height and makes it look like the div is
  verically cenetered relative to #page div*/
.up {
    transform: translateY(-40px);
}

/*CONTACT.HTML SPECIFIC START*/
/*Applied to a parent div of contact columns*/
#column {
    display: flex;
    flex-direction: row; /*Control how content columns are displayed*/
}

#contact-left { 
    width: 50%;    
}

#contact-right { 
    width: 50%;
}
/*CONTACT.HTML SPECIFIC END*/

/*PROJECT.HTML SPECIFIC START*/
.li-space {
    margin: 20px 0px; /*Control space between the listed elements*/
}

/*Align list elements to the right side*/
#list {
    margin-left: auto;
    text-align: right;
}
/*PROJECT.HTML SPECIFIC END*/

/*TEXT START*/
/*Page headers*/
h1 {
    color: #457B9D;
    margin: 0 auto;
    font-size: 400%;
    font-family: 'Oswald', sans-serif;
}

/*Subheader in index.html*/
h3 {
    font-size: 150%;
}

/*Column headers in contact.html*/
h4 {
    font-size: 1.5em;
    float: left;
    margin: 0;
    margin-right: 20%; /*Control horizontal space between columns and their contents*/
    margin-top: 10px;
    line-height: 26px; /*Adjust column headers vertical position to share bottom line with h6*/
}

/*Text in link list in projects.html*/
h5 {
    font-size: 1.5em;
    line-height: 29px;
    margin: 10px;  
}

/*Social media and mail text in links in contact.html*/
h6 {
    font-size: 1em;
    margin: 0;
    margin: 10px 0px;
}

/*Project descriptions in project.html and text in about.html*/
p {
    font-size: 150%;
}

/*TEXT END*/

/*SPAN START*/
/*Applied to key words in about.html*/
span {
    border-bottom: 2px #457B9D solid;
    transition: background-color 0.2s linear;
}

/*On hover, add background highlight and change font color*/
span:hover {
    background-color: #457B9D;
    color: #F1FAEE;
    padding: 0px 5px;
    border-radius: 3px;
}
/*SPAN END*/

/*BUTTON START*/
/*Restrict button sizes. Without specified widths, button size changes to fit animated icons*/
#button { width: 190px; }
#resume { width: 140px; }

/*General button definitions*/
button {
    border: 2px solid #E63946;
    background-color: #E63946;
    color: #F1FAEE;
    padding: 10px 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

/*On hover, swap background and font colors*/
button:hover {
    color: #E63946;
    background-color: #F1FAEE;
}

.fa-arrow-right {
    position: relative; /*Required for animation. Icon can be offset relative to its position in the document flow*/
    animation: forward 0.5s linear infinite alternate; /*Looping animation*/
}

.fa-arrow-down {
    position: relative;
    margin-left: 1em; /*Adjusting the position a bit :Р*/
    animation: down 0.5s linear infinite alternate; /*Looping animation*/
}

@keyframes forward {
    0% {left: 0.5em;} /*Position in the beginning of the animation*/
    100% {left: 1.5em;} /*Position at the end of animation*/
}

@keyframes down {
    0% {top: -0.5em;} /*Position in the beginning of the animation*/
    100% {top: 0.5em;} /*Position at the end of animation*/
}
/*BUTTON END*/

/*Applied to background text*/
.bg-text {
    /*Take the element out of the document flow and position it in the bottom left corner*/
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -2; /*Send the element into the back*/
    color: #A8DADC;
    font-size: 17vw; /*Responsive font size*/
    font-family: 'Playfair Display', serif;
    margin-left: 3%; /*Add some space to the left*/
}

/*Medium screen media query*/
@media only screen and (max-width: 900px) {
    .wrapper { margin-left: 5%; } /*Shift content closer to the left inner border*/
    h4 { margin-right: 10%; } /*Decrease horizontal space between contact columns and their contents*/
}

/*Small screen media query*/
@media only screen and (max-width: 700px) {
    body { padding: 15px; } /*Decrease padding to match small screen proportions*/
    
    /*Small screen navbar*/
    nav {
        text-align: center; 
        background-color: #457B9D;
        box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    }  
    #inline { display: none; } /*Remove logo in mobile version*/
    /*Adjust links to match nav*/
    .nlink { 
        padding: 10px 10px; 
        height: 3em; 
        color: #F1FAEE;
    }
    
    .up { transform: translateY(-48px); } /*Adjust vertical translation to match nav height*/
    
    #column { flex-direction: column; } /*Display contact divs one under another*/
    #contact-left { width: 90%; margin-bottom: 5%;} /*Change contact div size and add space between the divs*/
    #contact-right { width: 90%; } /*Change contact div size*/
    #mail { width: 140.562px;} /*A very specific width to align #mail element to social media list*/

    /*Adjust font sizes to look better on small screens*/
    h1 { font-size: 3em; }
    h5 { font-size: 1.25em; margin: 0px;} /*Remove excess space from projects.html project list*/
    p { font-size: 1.2em; }
}

/*Don't add this class to HTML. Class .colors is reserved to list colors used in the project*/
.colors {
    color: #E63946;
    color: #F1FAEE;
    color: #A8DADC;
    color: #457B9D;
    color: #1D3557;
}